
.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo{
    background: var(--color-secondary);
    border-radius: 32px;
    width: 15vw;
    height: 60%;
    margin-left: 30px;
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.siteContent{
    height: 90vh;
    width: 100vw;
}

#wholeSite{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#userIconHolder,
#searchBarHolder,
#logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userIcon{
    width: 7vh; 
    height: 7vh; 
    background-color: var(--color-primary);
    border-radius: 500px;
    margin-right: 30px;
    margin-top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 26px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#searchBar{
    background-color: var(--color-secondary);
    border-radius: 34px;
    width: 10vw;
    height: 3vh;
    text-align: center;
}

#searchBarSubIcon{
    position: absolute;
    width: 2vw;
}

#navbarSeparatorLine{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100vw;
}

.selectorIcons{
    width: 6vh;
    height: 60%;
}

.selectedTab{
    color: var(--text-color);
}

#tabSelection{
    border-radius: 15px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    height: 9vh;
    width: 30vw;
    background-color: var(--color-secondary);
}
